<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Noris</title>
    <link rel="stylesheet" href="style/style.css">
    
 
    
</head>
<body>
  
    <div class="main_content">
        <h1><img src="/img/Chuck Noris.svg" alt=""></h1>
        <img src="/img/chucky.jpg" alt="">
        

        <div class="joke_box">
        <p>Somthing like this is on the text</p>
        <button id="buttonJoke">Next joke </button>
        </div>
    </div>


    <script src="script/index.js"></script>
</body>
</html>